form {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 95%;
}
legend {
    color: #24261f;
    font-weight: bold;
    text-shadow: 0 1px 1px #7fa66f;
}
main li {
    background: #b9cf6a;
    background: rgba(255,255,255,.3);
    border-color: #e3ebc3;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 0px 15px;
    margin-bottom: 2px;
    width: 500px;
}
label {
    float: left;
    font-size: 18px;
    width: 120px;
}
fieldset{
    border:1px solid #24261f;

}

 fieldset label:hover {
    cursor: pointer;
}
 input, textarea , select {
    background: #ffffff;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font: italic 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    width: 270px;
}
 select{
     width:280px;
 }
input:not([type=submit]):focus,
textarea:focus {
    background: #eaeaea;
}
 button {
    background: #24261f;
    border: solid 1px #7fa66f;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font: 18px  "roboto_condensedregular", Times, serif;
    letter-spacing: 1px;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
     float: right;
}
 button:hover {
     background-color: rgba(127, 166, 111, 0.3);
     border: 1px solid #24261f;
     color: #24261f;
     cursor: pointer;
}
#closeBt{
    margin:20px;
    width:182px;
}

