#bigLogo{
    float: left;
    padding:150px 61px 0px 61px ;
}
#contactLogo{
    float: left;
    height: 300px;
    width:587px;
    margin-top:150px;
    border-left: 3px solid #24261f;
    text-align: left;
    font-size: 1.2em;

}
#contactLogo p{
padding: 15px 0  15px 0 ;
    margin: 0;
    float: left;
    clear: right;
}

main div img{
    display: block;
    float: left;
    padding:0px 40px;
}

