/*-------------Global -----------------------------------*/
html, body{
    width:100%;
    height:100%;
    margin:0;
}
body{
    text-align: center;
    background: url("../img/main_bg.png") center top;

}
#site{
    display: inline-block;
    font-family: 'roboto_regular',Arial, sans-serif ;

}
a{
    text-decoration: none;
    border:none;
}
/*--------------header style-----------------------------*/
header{
    width: 960px;
    height: 170px;
    background: url("../img/header_bg.png") repeat-x bottom;
    padding-top: 5px;
}
header img {
    display: block;
    float: left;
    padding:0 0 0px 69px;
}
#hs_header{
    padding-left: 100px;
}
header nav{
    display: block;
    float: left;
    height: 89px;
    width:auto;
    margin-top:23px;
}
header nav ul{
    list-style: none; /* Remove list bullets */
    margin:0;
}
header nav li{
    float: left;
    display: list-item;
    margin:0;
    padding:0;
    border:0;
}
header nav a{
    display: block;
    color:white;
    font-size: 1.4em;
    text-align: center;
    width:137px;
    padding-top:60px;

}

a.home {

    background: url("../img/navLogo/Home_white.png") no-repeat center top;
}
a.directeur {
    background: url("../img/navLogo/Directeur_white.png") no-repeat center top;
}
a.contactUs {
    background: url("../img/navLogo/ContactUs_white.png") no-repeat center top;
}
a.bottin {
    background: url("../img/navLogo/Bottin_white.png") no-repeat center top;
}
a.connection {
    background: url("../img/navLogo/Connection_white.png") no-repeat center top ;
}
/*header nav  a:hover {
    background-color: rgba(127, 166, 111, 0.05); ;
    color: #7fa66f;
}*/
.hover{
    background-color: rgba(127, 166, 111, 0.05);
    color: #7fa66f;
}
/*--------------mainContent style------------------------*/
main{
    width:960px;
    height:100%;
    min-height:795px;
    background-color: rgba(127, 166, 111, 0.05);
    font-family: "roboto_condensedregular", Arial,SansSerif;
    font-size: 1.3em;
    position: relative;

}
#bottin{
    margin:80px 20px 20px 20px;
}

section{
    position: absolute;
    float: left;
    height:100%;
    padding: 5px;

}
#product{
    width:300px;
    height:auto;
    border-bottom:solid 3px #24261f;

}
#product img{
    display: block;
padding:10px  40px;

}
#video{
    position: absolute;
    left:310px;
    float: left;
    width:650px;
    height:100%;

}
#categories a{
    display: block;
    padding:5px;
}
#categories{
    padding-top:10px;
}

iframe{
    padding:100px 0 0 0;
    width: 600px;
    height: 500px;

}

/*--------------footer style-----------------------------*/
footer{
    width:960px;
    height:230px;
    border-top:solid 3px #24261f;
    background-color: rgba(127, 166, 111, 0.05);
    color: #24261f;
}
footer p {
    text-align: left;
    padding-left: 10px;
    line-height: 0.7;
    font-size: 1.1em;;

}
#hs_footer{
    float: left;
    padding:0px 60px 0 332px;
}
#media img{
    padding:40px 0 0 10px;
}

